{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container --bs-dark mt-1">
    <div style="width: 80%" >
        <h1>Welcome to the great George Petterson's Home!</h1>
        <p>Use the navigation to see what <a style="text-decoration: none; color:black; font-weight: bold;" href="/chat">George</a> knows!</p>
    </div>
</div>

<div class="container d-flex justify-content-center">
    <img src="../static/GP_image.png" class="rounded w-50">
</div>

{% endblock %}